<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="../../static/css/my1.css">
     <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <script type="text/JavaScript" src="../../static/js/Message.js">
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>消息</title>

  </head>
  <body class="text-center">



 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
             <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                          </button>
                         <h2 class="modal-title" id="myModalLabel">私信</h2>
                     </div>
                     <div class="modal-body">

                        <div class="form-group">

                            <input type="text" class="form-control" id="txt_departmentname" placeholder="收信人">
                        </div>
                        <div class="form-group ">
                            <textarea  type="text" class="form-control" id="txt_parentdepartment" rows="5"  placeholder="私信内容300字以内">
                              </textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>发送</button>
                    </div>
                </div>
            </div>
        </div>

   <div class="col-md-12 column" style="margin-top: 20px; font-family: 华文行楷; font-size:25px;">
     <h1>华东理工大学论文系统</h1>
   </div>


 <!--引入top-bar-->
 <div th:replace="Student/components :: top-bar(activeUri='Student/message')"></div>


 <div class="container" style="margin-top: 20px;">
 <div class="col-md-2" style="margin-top: 20px;">
   <ul  class="nav nav-pills nav-stacked" style="position:fixed;">
    <li role="presentation" style="font-size: 20px;"> <a href="#d1">系统公告</a></li>
    <li role="presentation" style="font-size: 20px;"> <a href="#d2">私信消息</a></li>
    <li role="presentation" style="font-size: 20px;"> <a href="#d3">回到顶部</a></li>
   </ul>
 </div >

 <div class="col-md-10">

     <div class="main_pane row  myMessage">

         <table class="table table-striped">
             <caption id="d1" style="font-size: 25px; color: rgb(62, 100, 47);"
                      class="text-center">
                 <b>系统公告</b>
             </caption>


             <thead class="theadcenter">
             <tr>
                 <th>公告</th>
                 <th>时间</th>
                 <th>操作</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="ans : ${anns}">
                 <td th:text="${ans.getTitle()}">0001名称</td>
                 <td th:text="${#dates.format(ans.getDateTime(),'yyyy-MM-dd HH:mm:ss')}">2019/6/19 10：56</td>
                 <td><a th:href="'/Student/messageInfo?AID='+${ans.getAID()}" target="_blank">查看详情</a></td>
             </tr>
             </tbody>
         </table>
     </div>
       <nav aria-label="Page navigation">
          <ul class="pagination1">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>

            <li>
              <a href="#"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <table id="d2"class="table table-striped ">
            <caption  style="font-size: 25px; color:rgb(62,100,47);" class="text-center">
             <b>私信消息</b>

                 <button class="btn btn-default send" type="button"  style="float: right;" id="btn_add">
                     <span >发送私信</span>
                 </button>

           </caption>




             <thead class="theadcenter">

                 <th width="13%">发送人</th>
                 <th>内容</th>
                 <th>时间</th>
               </tr>
             </thead>
             <tbody>

                   <tr class="chat">

                       <td>王翠花</td>
                     <td>在吗</td>
                     <td>2019/6/19 10：56</td>

                   </tr>
                 <tr class="chat" >
                     <td>金陵</td>
                   <td>想请问一下巴拉巴啊那个论文什么时候反馈给我啊我十分希望呢个
                     够尽快得到结果呢。收到请回复==== ==========================
                     ===== 啦啦啦好先生好日子号节日好好啊号进来可以不看饿一饿u而是富强民主文明和谐
                   自由平等公正法制爱国敬业诚信有神</td>
                   <td>2019/6/19 09：56</td>
                 </tr>
                 <tr class="chat">
                     <td>习成</td>
                   <td>0003名称</td>
                   <td>2019/6/18 10：56</td>
                 </tr>
                   <tr class="chat">
                       <td>彼岸花</td>
                     <td>0004名称</td>
                     <td>2019/6/18 10：56</td>
                    </tr>
                     <tr class="chat">
                         <td>刘娥</td>
                     <td>0005名称</td>
                     <td>2019/6/17 12：32</td>
                   </tr>

             </tbody>
           </table>
           <nav aria-label="Page navigation">
               <ul class="pagination1">
                 <li>
                   <a href="#" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                   </a>
                 </li>
                 <li><a  class="active" href="#" >1</a></li>
                 <li><a href="#" >2</a></li>
                 <li><a href="#">3</a></li>
                 <li><a href="#">4</a></li>

                 <li>
                   <a href="#"  aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                   </a>
                 </li>
               </ul>
             </nav>
</div>
</div>

<div class="modal fade text-center" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                 </button>
                <h4 class="modal-title" id="myModalLabel2">王翠花（对方姓名）</h4>
            </div>
   <div class="outer-container">
          <div class="modal-dialog pre-scrollable inner-container"  id="scrolldIV" style="height:390px;">
              <ul id="msgList" >
                  <table cellpadding="0" cellspacing="0">
                      <tr text-align="left">
                          <td>
                            <div class="messinfo2">
                           2019/6/19 12:30
                              </div>
                          </td>
                       </tr>
                      <tr>
                          <td>
                            <div class="message2">
                                老师请问这个专利怎么写比较好呀？
                                老师请问这个专利怎么写比较好呀？
                                老师请问这个专利怎么写比较好呀？
                              </div>
                          </td>
                      </tr>
                  </table>

                  <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                              <td>
                                <div class="messinfo">
                                  11:19
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                <div class="message">
                               不知道别问我不知道别问我
                               不知道别问我不知道别问我
                               不知道别问我不知道别问我
                               不知道别问我不知道别问我
                               不知道别问我不知道别问我
                                  </div>
                              </td>
                          </tr>
                      </table>
                    </ul>
          </div>
   </div>


     <div class="row">
           <div class="modal-footer">

                  <div class="col-md-10 col-md-offset-1">
                      <div class="input-group">
                        <input type="text" class="form-control" id="msgInput">
                        <span class="input-group-btn">
                          <button class="btn btn-primary" id="btnSubmit" type="button">发送</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
              </div>
          </div>


       </div>
   </div>
  </div>

  </body>
</html>