<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/my1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="../../static/js/Subject.js"></script>
    <script>

        $("#stu_subj").click(function () {
            //学生端查看课题
            alert("a");
            $('#Modal_stusubj').modal();
        });


    </script>
    <title>课题</title>

</head>
<body class="text-center">


<div class="col-md-12 column" style="margin-top: 20px; font-family: 华文行楷; font-size:25px;">
    <h1>华东理工大学论文系统</h1>
</div>


<!--引入top-bar-->
<div th:replace="Student/components :: top-bar(activeUri='Student/topic')"></div>


<div class="container" style="margin-top: 20px;">

    <div style="height: 100px;">
        <div class="col-xs-3 " style="margin-top: 40px;">
            <ul class="nav nav-tab vertical-tab" role="tablist" id="vtab">
                <li role="presentation" class="active">
                    <a href="#tab1" aria-controls="home" role="tab"
                       data-toggle="tab">选择课题</a>
                </li>
                <li role="presentation">
                    <a href="#tab2" aria-controls="inbox" role="tab"
                       data-toggle="tab">我的课题</a>
                </li>

                <li role="presentation" style="font-size: 20px;">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-0" type="search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="tab-content vertical-tab-content col-xs-8">
            <div role="tabpanel" class="tab-pane active" id="tab1">
                <form onsubmit="return false;" id="chooseSubForm">
                    <table class="table table-striped">
                        <caption style="font-size: 25px; color:rgb(62,100,47);" class="text-center"><b>华东理工大学论文课题表</b>
                            <!-- Split button -->
                            <div class="btn-group" style="float: right;">
                                <button type="button" class="btn btn-danger" th:text="${currentDept} + '学院'">请选择学院</button>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li th:each="dept: ${allDept}">
                                        <a href="#" th:text="${dept.getName()} + '学院'"
                                           th:href="'topic?DeptID=' + ${dept.getDeptID()}">信息学院</a>
                                    </li>
                                </ul>
                            </div>
                        </caption>


                        <thead class="theadcenter">
                        <tr>
                            <th>课题名称</th>
                            <th>限制人数</th>
                            <th>已选人数</th>
                            <th>第一志愿</th>
                            <th>第二志愿</th>
                            <th>第三志愿</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="subject: ${allSub}">
                            <td th:text="${subject.getName()}"></td>
                            <td th:text="${subject.getLimitNum()}"></td>
                            <td th:text="${subject.getSelectNum()}"></td>
                            <td><input class="first" type="radio" value="1" name="0001名称" th:name="${subject.getSubjID()}"></td>
                            <td><input class="second" type="radio" value="2" name="0001名称" th:name="${subject.getSubjID()}"></td>
                            <td><input class="third" type="radio" value="3" name="0001名称" th:name="${subject.getSubjID()}"></td>
                        </tr>
                        </tbody>

                    </table>
                    <button id="fat-btn" class="btn btn-primary" data-loading-text="Loading..."
                            type="button" style="background-color:rgb(62,100,47);"> 确定
                    </button>
                </form>
                <input name="SID" th:value="${loginuser.getSID()}" id="SID-hidden" hidden>
            </div>

            <script type="text/javascript">
                $("#fat-btn").click(function (event) {
                    var url = "/Student/chooseSub";
                    var data = {
                        "choices": $("#chooseSubForm").serialize(),
                        "SID": document.getElementById("SID-hidden").value
                    };
                    console.log(data);
                    $.ajax({
                        url:  url,
                        type: "POST",
                        data: data,
                        success: function (response) {
                            if(response["status"] === 'ok')
                                alert("选择成功！请等待管理员审核～");
                            else {
                                alert("上传失败");
                            }
                        },
                        error: function (response) {
                            console.log(response);
                            alert("连接失败！");
                        }
                    });
                })
            </script>

            <div role="tabpanel" class="tab-pane" id="tab2">
                <table class="table table-striped">
                    <caption style="font-size: 25px; color:rgb(62,100,47);" class="text-center"><b>华东理工大学论文课题表</b>

                    </caption>

                    <thead class="theadcenter">
                    <tr>
                        <th>课题名称</th>
                        <th>老师</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="stu_subj">
                        <td>[[${mySub.Name}]]</td>
                        <td>[[${myTeacher.Name}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Modal_stusubj" tabindex="-1" role="dialog" aria-labelledby="ModalLabel_stusubj">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="ModalLabel_stusubj">课题名称</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <input type="text" class="form-control" id="txt_departmentname" placeholder="收信人">
                    </div>
                    <div class="form-group ">
                   <textarea type="text" class="form-control" id="txt_parentdepartment" rows="5"
                             placeholder="私信内容300字以内">
                     </textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span
                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>发送
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
    $(':radio').click(function(){
        var row= $(this).parent().parent().parent().find("tr").index($(this).parent().parent()[0]);//第几行
        var column=$(this).parent().index();//第几列
        var columnName=["first","second","third"];

        dict = []; //or dict = new Array()
        dict["first"] = -1;
        dict["second"] = -1;
        dict["third"] = -1;

//console.info("列"+column+"行"+row);
        for(var key in dict)
        {
            if(columnName[column-3]==key&&row!=dict[key]){

                dict[key]=row;
                // console.info(key+dict[key]);
                if(key=="first")
                    $(this).parent().parent().parent().find('.first').not(this).attr("checked", false);
                if(key=="second")
                    $(this).parent().parent().parent().find('.second').not(this).attr("checked", false);
                if(key=="third")
                    $(this).parent().parent().parent().find('.third').not(this).attr("checked", false);

            }
        }

    });

</script>

</body>
</html>