<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

     
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../../static/css/my1.css">
      <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="../../static/js/SubjectStu.js"></script>
    <script>

    $("#stu_subj").click(function () {
    //学生端查看课题
    alert("a");
    $('#Modal_stusubj').modal();
    });


    </script>
    <title>课题</title>

  </head>
  <body class="text-center">

        
   <div class="col-md-12 column" style="margin-top: 20px; font-family: 华文行楷; font-size:25px;"> 
     <h1>华东理工大学论文系统</h1>
   </div>


   <!--引入top-bar-->
   <div th:replace="Student/components :: top-bar(activeUri='Student/topic')"></div>
  

 <div class="container" style="margin-top: 20px;">



</div>

  </body>
</html>