<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

     
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../../static/css/my1.css">
      <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="../../static/js/SubjectStu.js"></script>
    <title>课题</title>

  </head>
  <body class="text-center">

        
   <div class="col-md-12 column" style="margin-top: 20px; font-family: 华文行楷; font-size:25px;"> 
     <h1>华东理工大学论文系统</h1>
   </div>


   <!--引入top-bar-->
   <div th:replace="Student/components :: top-bar(activeUri='Student/topic')"></div>
  

 <div class="container" style="margin-top: 20px;">

  <div style="height: 100px;">
    <div class="col-xs-3 " style="margin-top: 40px;">
        <ul class="nav nav-tab vertical-tab" role="tablist" id="vtab">
            <li role="presentation" class="active">
                <a href="#tab1" aria-controls="home" role="tab"
                   data-toggle="tab">选择课题</a>
            </li>
            <li role="presentation" >
                <a href="#tab2" aria-controls="inbox" role="tab"
                   data-toggle="tab">我的课题</a>
            </li>

            <li role="presentation" style="font-size: 20px;">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-0" type="search"  aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
             </li>
        </ul>
    </div>
      <div class="tab-content vertical-tab-content col-xs-8">
            <div role="tabpanel" class="tab-pane active" id="tab1">
                <table class="table table-striped">
                    <caption style="font-size: 25px; color:rgb(62,100,47);" class="text-center"><b>华东理工大学论文课题表</b>
                     <!-- Split button -->
                        <div class="btn-group" style="float: right;">
                           <button type="button" class="btn btn-danger">请选择学院</button>
                           <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span class="caret"></span>
                             <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <ul class="dropdown-menu">
                              <li><a href="#">信息学院</a></li>
                              <li><a href="#">商学院</a></li>
                              <li><a href="#">化学院</a></li>
                           </ul>
                        </div>
                   </caption>

                     <thead class="theadcenter">
                       <tr>
                         <th>课题名称</th>
                         <th>限制人数</th>
                         <th>已选人数</th>
                         <th>第一志愿</th>
                         <th>第二志愿</th>
                         <th>第三志愿</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>0001名称</td>
                         <td>3</td>
                         <td>1</td>
                         <td> <input type="radio" value="1" name="0001名称"> </td>
                         <td> <input type="radio" value="2" name="0001名称"> </td>
                         <td> <input type="radio" value="3" name="0001名称"> </td>
                       </tr>
                       <tr>
                         <td>0002名称</td>
                         <td>3</td>
                         <td>1</td>
                         <td> <input type="radio" value="1" name="0002名称"> </td>
                         <td> <input type="radio" value="2" name="0002名称"> </td>
                         <td> <input type="radio" value="3" name="0002名称"> </td>
                       </tr>
                       <tr>
                         <td>0003名称</td>
                         <td>3</td>
                         <td>1</td>
                         <td> <input type="radio" value="1" name="0003名称"> </td>
                         <td> <input type="radio" value="2" name="0003名称"> </td>
                         <td> <input type="radio" value="3" name="0003名称"> </td>
                       </tr>
                        <tr>
                         <td>0004名称</td>
                         <td>3</td>
                         <td>1</td>
                         <td> <input type="radio" value="1" name="0004名称"> </td>
                         <td> <input type="radio" value="2" name="0004名称"> </td>
                         <td> <input type="radio" value="3" name="0004名称"> </td>
                          <tr>
                         <td>0005名称</td>
                         <td>2</td>
                         <td>0</td>
                         <td> <input type="radio" value="1" name="0005名称"> </td>
                         <td> <input type="radio" value="2" name="0005名称"> </td>
                         <td> <input type="radio" value="3" name="0005名称"> </td>
                       </tr>
                        <tr>
                         <td>0006名称</td>
                         <td>3</td>
                         <td>0</td>
                         <td> <input type="radio" value="1" name="0006名称"> </td>
                         <td> <input type="radio" value="2" name="0006名称"> </td>
                         <td> <input type="radio" value="3" name="0006名称"> </td>
                       </tr>
                        <tr>
                         <td>0007名称</td>
                         <td>2</td>
                         <td>1</td>
                         <td> <input type="radio" value="1" name="0007名称"> </td>
                         <td> <input type="radio" value="2" name="0007名称"> </td>
                         <td> <input type="radio" value="3" name="0007名称"> </td>
                       </tr>
                       </tr>
                     </tbody>
                </table>
              <button id="fat-btn" class="btn btn-primary" data-loading-text="Loading..."
                type="button" style="background-color:rgb(62,100,47);"> 确定
               </button>
            </div>

            <div role="tabpanel" class="tab-pane" id="tab2">
                <table class="table table-striped">
                    <caption style="font-size: 25px; color:rgb(62,100,47);" class="text-center"><b>华东理工大学论文课题表</b>
                     <!-- Split button -->
                        <div class="btn-group" style="float: right;">
                           <button type="button" class="btn btn-danger">请选择学院</button>
                           <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span class="caret"></span>
                             <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <ul class="dropdown-menu">
                              <li><a href="#">信息学院</a></li>
                              <li><a href="#">商学院</a></li>
                              <li><a href="#">化学院</a></li>
                           </ul>
                        </div>
                   </caption>

                     <thead class="theadcenter">
                       <tr>
                         <th>课题名称</th>
                         <th>老师</th>
                         <th></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td id="stu_subj">课题名称</td>
                         <td>张海腾</td>
                         <td id="stu_assess">评价</td>
                       </tr>
                     </tbody>
                </table>
            </div>
      </div>
 </div>

 <div class="modal fade" id="Modal_stusubj" tabindex="-1" role="dialog" aria-labelledby="ModalLabel_stusubj">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                 </button>
                <h4 class="modal-title" id="ModalLabel_stusubj">课题名称XXXX</h4>
            </div>
            <div class="modal-body">
               
                    <label >老师</label>
                    <text >张海腾</text>
               
              <div >
                <label>简介</label>
                <textarea  class="form-control" readOnly id="txt_intro"rows="5" >项目背景项目前景项目计划</textarea>
            </div>
              

           </div>
          
       </div>
    </div>
</div>
<div class="modal fade" id="Modal_stusubj2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel_stusubj2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                 </button>
                <h4 class="modal-title" id="ModalLabel_stusubj2">课题名称XXXX</h4>
            </div>
            <div class="modal-body">
               
                    <label >老师</label>
                    <text >张海腾</text>
               <div class="form-group ">
                 <label>评价老师</label>
                 <input type="text" class="form-control" placeholder="输入评分（100满分）">
                   <textarea  type="text" class="form-control" id="txt_parentdepartment" rows="5"  placeholder="评价300字以内"></textarea>
               </div>

           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
               <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
           </div>
       </div>
    </div>
</div>

</div>

  </body>
</html>