<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="../../static/css/my1.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <title>个人中心</title>
  </head>
  <body >

  <!--引入TOPBAR-->
  <div th:replace="~{Teacher/topbar::bar(activeurl='teachers')}"></div>

<div class="container addbackgroundimg">
    <div>
        <table class="table">
            <tr>
                <td width="20%"></td>
                <td width="60%"><p><img src="../../static/img/qx.jpg" class="img-circle center-block"
                                        style="margin-top: 30px;" width=150;></p></td>
                <td width="20%">
<!--                    <button class="btn btn-default buttonchange" type="button" th:onclick=""-->
<!--                            onclick="window.location.href = 'TeacherEditInfo.html'" style="margin-top:75px">-->
<!--                        <span>更改信息</span>-->
<!--                    </button>-->
                    <a class="btn btn-lg btn-default" th:href="@{/teacher/}+${session.loginuser.TID}">更改信息</a>
                </td>
            </tr>
        </table>
        <div style="margin-top: 18px; font-size: 18px;">

            <div style=" margin-bottom: 10px;" class="text-center">
                <p> [[${session.loginuser.Name}]] </p>
                <p> [[${session.loginuser.TID}]] </p>
            </div>
            <div style="margin-left: 25%;">
                <div class="col-1 "><p> 性别</p></div>
                <div class="col-2 ">
                    <label class="radio-inline">
                        <input type="radio" value="radio" name="1" disabled
                               th:checked="${session.loginuser!=null}?${session.loginuser.Gender==1}"/>女
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="radio" name="1" disabled
                               th:checked="${session.loginuser!=null}?${session.loginuser.Gender==0}"/>男
                    </label>
                </div>
                <div class="col-md-12 col-xs-12"></div>
                <div class="col-1"><p> 院系</p></div>
                <div class="col-2">
                    <!--                    需要读出院系名称-->
                    <p><span>[[${session.dept.Name}+${'学院'}]]</span></p>
                </div>
                <div class="col-1"><p> 职称</p></div>
                <div class="col-2">
                    <p><span>[[${session.loginuser.Title}]]</span></p>
                </div>

            </div>
            <hr class="featurette-divider col-md-6 col-md-push-3">
            <div class="col-md-10"></div>
            <div style="margin-left: 25%">
                <div class="col-1"><p> 手机号</p></div>
                <div class="col-2">
                    <p><span>[[${session.loginuser.Tel}]]</span></p>
                </div>
                <br/>
                <div class="col-1"><p> 邮箱</p></div>
                <div class="col-2">
                    <p><span>[[${session.loginuser.Email}]]</span></p>
                </div>


            </div>
        </div>

    </div>
</div>


   <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  </body>
</html>