@charset "UTF-8";


.top{
	margin-left: 2%;
}


.bodybk {
	margin: 0;
	background: url(../img/background.png);
}

.bodybk1 {
	margin: 0;
	background: url(../img/background1.png);
}

.nav li a {
	font-size: 18px;
	font-weight: 50px;
	color: #2e442f;
}

.nav li a:hover {
	background-color: rgb(187, 189, 139) !important;
}

.active {
	background-color: rgba(187, 189, 139, 0.5) !important; 
}
.btn-green{
	background-color:#bbce99;
}

.backBtn{
	float:right;
	margin-right:100px;
	
}

.theadcenter tr th {
	text-align: center;
	background-color: rgba(62, 100, 47, 0.8);
}

.table-striped tbody tr td {
	background-color: rgba(185, 209, 157, 0.7);
}

