<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>登陆</title>
    <style type="text/css">
        body {
            margin: 0;
            background: url(static/img/watermelon.jpg) no-repeat fixed;
            background-size: cover;
        }
    </style>
</head>
<body class="text-center">

<div class="col-md-12 column" style="margin-top: 110px; font-family: 华文行楷; color:white">
    <h1>毕业论文管理系统</h1>
</div>


<form class="form-signin" style="margin-top: 20px;" action="message.html" th:action="@{/user/login}" method="post" id="loginForm">
    <div align="center">
        <h2 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}" style="color:white">Please sign in</h2>
        <label class="sr-only col-md-5" for="userID" th:text="#{login.userID}">username</label>
        <input style="text-align:center;" class="form-control col-md-3" id="userID" name="userID" placeholder="UserID" th:placeholder="#{login.userID}" required="" autofocus="">
    </div>
    <div align="center" style="margin-top: 10px;">
        <label class="sr-only" for="inputPassword" th:text="#{login.password}">Password</label>
        <input style="text-align:center;" class="form-control col-md-3" id="inputPassword"
               name="inputPassword" type="password" placeholder="Password" th:placeholder="#{login.password}" required="">
    </div>
    <div class="checkbox mb-3" style="margin-top: 10px;">
        <p style="color:red" th:text="${msg}" th:if="${not#strings.isEmpty(msg)}"></p>

        <input type="radio" value="Student" name="user" checked="checked"/> [[#{login.student}]]
        <input type="radio" value="Teacher" name="user"/> [[#{login.teacher}]]
        <input type="radio" value="Administrator" name="user"/> [[#{login.administrator}]]

    </div>
    <div align="center">
        <button class="btn btn-lg btn-primary btn-block col-md-3" type="submit" th:text="#{login.btn}">Sign in</button>
        <p class="mt-5 mb-3 text-muted">@2019/06</p>
    </div>
    <div align="center">
        <a class="btn btn-small" th:href="@{/index.html(l='zh_CN')}">切换中文</a>
        <a class="btn btn-small" th:href="@{/index.html(l='en_US')}">English</a>
    </div>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>