<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登陆</title>
    <style type="text/css">
        body {
            margin: 0;
            background: url(static/img/watermelon.jpg) no-repeat fixed;
            background-size: cover;
        }

    </style>
</head>
<body >

    </div>
    <div align="center">
<p class="mt-5 mb-3 text-muted">@2019/06</p>
    </div>

</body>
</html>